.content {
  text-align: center;
}

.content-logo {
  height: 13vmin;
  /* height: 106px; */
  margin-top: 35px;
  pointer-events: none;
}

.title-fb {
  font-size: 25px;
  font-weight: normal;
  line-height: 32px;
  width: 450px;
  margin-left: 25px;
}

.flex {
  float: left;
  vertical-align: top;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.content-header {
  background-color: #f0f2f5;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.content-link {
  color: #1877f2;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
}

.content-link:hover {
  text-decoration: underline;
  color: #1877f2;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* form css */
.login-background {
  background-color: white;
  border-radius: 10px;
}

.login-container {
  width: 350px;
  margin: 0 auto;
}

.login-container .login-content {
  padding: 15px;
}

.login-container .login-content .login-input {
  margin: 5px 0;
}

.login-container .login-content .btn-login {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #1877f2;
}

.text {
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}


.btn-account {
  background-color: #42b72a;
  margin: 10px 0;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0 16px;
}


/* Reponsive */
/* Mobile: width > 1024px */
@media only screen and (max-width: 46.1875em) {
  .flex {
    float: none;
  }
  .login-container {
    width: 300px;
    margin: 0 auto;
  }
  .title-fb {
    display: none;
  }
  .title-img {
    display: block;
      margin: 20px 0px 20px 80px;
      
     
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .content-fb {
    width: 100%;
    
  }
  .title-fb {
    display: none;
  }
  .title-img {
    text-align: center;
  }
}
