/* validator form login */
.text-xs {
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 5px;
    text-align: left;
    color: #f02849;
    border: #f02849;
  }
  /* input:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
  }
   
  input:focus:valid {
    box-shadow: 0 0 5px #1877f2;
    border-color: #1877f2;
  } */
  .btn-toogle {
    border: none;
    border-radius: 50%;
    float: right;
    margin-top: -35px;
    margin-right: 10px;
    background-color: white;
  }