.App-footer {
    background-color: #fff;
    color: #8A8D91;
    min-height: 15vh;
    margin: 0px 120px;
    font-size: 10px;
  }
.App-pd {
    padding: 20px 0px 0px;
  }

/* .flex {
    display: flex;
    flex-direction: row;
} */
.contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 5px;
}
.col {
    margin: 0;
    padding: 0;
}
.pageFooter {
    color: #737373;
}
.mg {
    margin: 20px 0px 20px 0px;
}
.click {
    background: #fff;
    cursor: pointer;
    border-radius: 4px; 
    border: 1px solid #ccd0d5
}
.click:hover{
    background: #e6e8ef;
}